# Dependencias
node_modules/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
firebase.exe

# Sistema / editores
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Entorno
.env
.env.local
